.card_name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

body {
  background-color: grey;
}

.basketBall {
  background-color: grey;
  width: 600px;
  height: 200px;
}

.basket {
  background-color: grey;
  width: 600px;
  height: 200px;
}

h1 {
  text-align: center;
}

button {
  padding: 2px;
}
